p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Roboto, Arial;
  padding-left: 96px;
  padding-right: 24px;
  margin: 0;
  padding-top: 80px;
  background-color: rgb(249, 249, 249);
}