.search-bar {
  flex: 1;
  font-size: 16px;
  
  padding-left: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(198, 198, 198);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.header {
  z-index: 100;
  display: flex;
  height: 55px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(226, 226, 226);


  position: fixed;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
}

.left-section {
  display: flex;
  justify-content: center;
}

.middle-section {
  flex: 1;
  margin-right: 30px;
  margin-left: 70px;
  max-width: 500px;
  display: flex;

}

.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.hamburger {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.yt-logo {
  height: 20px;
}

.search-btn,
.voice-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-btn {
  height: 40px;
  width: 66px;
  background-color: rgb(217, 217, 217);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(198, 198, 198);
  background-color: rgb(240, 240, 240);
  margin-left: -1px;
  margin-right: 10px;
}

.search-icon {
  height: 25px;
}

.tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  bottom: -30px;
  border-radius: 2px;
  opacity: 0;
  transition: all 0.1s;
  pointer-events: none;
  white-space: nowrap;
}

.search-btn:hover .tooltip,
.voice-btn:hover .tooltip {
  opacity: 1;
}

.voice-btn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: none;
  background-color: rgb(249, 249, 249);
}

.voice-icon {
  height: 24px;
  margin-top: 4px;

}

.upload-icon {
  height: 24px;
  margin-top: 4px;
}

.apps-icon {
  height: 24px;
  margin-top: 4px;
}

.notifications-icon {
  height: 24px;
  margin-top: 4px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(206, 0, 0);
  border-radius: 50%;
  border: 2px solid white;
  font-family: Roboto, Arial;
  font-size: 10px;
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.current-channel {
  height: 24px;
  border-radius: 50%;
  margin-top: 4px;
}

