.sidebar {
  z-index: 200;
  padding-top: 5px;
  position: fixed;
  background-color: white;
  bottom: 0;
  top: 55px;
  left: 0;
  width: 75px;
}

.sidebar-link {
  display: flex;
  background-color: white;
  height: 76px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar-link img {
  height: 25px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
  margin-top: 6px;
}

.sidebar-link:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}