.thumbnail {
  width: 100%;
  margin-bottom: 12px;
}

.thumbnail-row {
  position: relative;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 22px;
  right: 5px;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 2px;
  border-radius: 2px;
}

.video {
  display: inline-block;
  width: 300px;
}

.profile-picture {
  width: 36px;
  border-radius: 50%;
}

.video-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-author {
  margin-bottom: 4px;
}

.video-info {
  margin-top: -3px;
  vertical-align: top;
  display: inline-block;
  width: 250px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 900px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1300px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}